<div class="no-questions">
  <img src="/images/ilustração.svg" alt="Sem pergunta">
  <p>Nenhuma pergunta aqui...</p>
  <p>Faça sua primeira pergunta e envie <br>o codigo dessa sala para outras pessoas</p>
</div>